services:
  backend:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    env_file:
      - apps/backend/.env
    environment:
      - TRUSTED_ORIGINS=${NEXT_PUBLIC_APP_URL}

  ai:
    build:
      context: .
      dockerfile: apps/ai/Dockerfile
    env_file:
      - apps/ai/.env

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    env_file:
      - apps/web/.env
    ports:
      - "80:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend:2222
      - NEXT_PUBLIC_APP_URL=${NEXT_PUBLIC_APP_URL}
